{% load staticfiles %}
<html>
    <head>
        <title>My Blog</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <nav class="indigo">
        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
            <li><a href="{% url 'post_new' %}">New Post</a></li>
            <li><a href="{% url 'poll_new' %}">New Poll</a></li>
            <li><a href="/logout/">Logout</a></li>
          {% else %}
            <li><a href="/login/">Login</a></li>
          {% endif %}
        </ul>
        <ul id="slide-out" class="side-nav">
          {% if user.is_authenticated %}
            <li><a href="{% url 'post_new' %}">New Post</a></li>
            <li><a href="{% url 'poll_new' %}">New Poll</a></li>
            <li><a href="/logout/">Logout</a></li>
          {% else %}
            <li><a href="/login/">Login</a></li>
          {% endif %}
          <li><a href="/poll/">Poll</a></li>
          <li><a href="/">Blog</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </nav>
      
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
      <script type="text/javascript"> 
        // Initialize collapse button
        $(".button-collapse").sideNav();
        // Initialize collapsible (uncomment the line below if you use the dropdown variation)
        //$('.collapsible').collapsible();
      </script>
    </body>
</html>